- affichages des taches // done

- generation aléatoire de tache et defillement continue des taches // done

- assignation des taches a des cases speciales (employés) (drag and drop) // done

- jauge des cases (employés) (stress,fatigue,concentration)// done

- jauge de dev / scoring 

- caracs speciales des employés

- passage des levels

- hud

- menu

- equilibrage

- si une des jauges est pleine on la possibilité de lancer un mini jeu, si on le reussi on reprend le perso avec une jauge a moitié pleine sinon on a perdu le perso





