- affichages des taches // done

- generation aléatoire de tache et defillement continue des taches // done

- assignation des taches a des cases speciales (employés) (drag and drop)

- jauge des cases (employés) (stress,fatigue,concentration)

- jauge de dev / scoring

- caracs speciales des employés

- passage des levels

- hud

- menu

- equilibrage




